In [53]:
import camelot
import tabula
import os
import pandas as pd
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [54]:
os.getcwd()

'/Users/yannickflores/Perso Project/ipfy-asset-management/package-python-ipfy-asset-management-pdf-to-table/ipfy-asset-management-pdf-to-table'

In [55]:
# PDF file to extract tables from
file = "./releve_de_comptes_pdf/credit_agricole_fr/Releve_n_001_du_02_01_2023.pdf"

In [56]:
# extract all the tables in the PDF file
tables = camelot.read_pdf(file)

In [57]:
# number of tables extracted
print("Total tables extracted:", tables.n)

Total tables extracted: 1

In [58]:
pdf_dataframe = tables[0].df
pdf_dataframe

,0,1,2,3,4,5
0,Date\nopé.,Date\nvaleur,Libellé des opérations,Débit,Crédit,þ
1,,,Ancien solde créditeur au 30.11.2022,,"9 536,33",
2,01.12\n02.12\n02.12\n05.12\n05.12\n06.12\n06.1...,01.12\n02.12\n05.12\n05.12\n06.12\n06.12\n06.1...,Virement Web Flores Yannick Virement depu\nVi...,"2 500,00\n41,69\n14,06\n6,57\n266,86\n68,00\n1...",,"¨\n678,22 ¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n..."

In [59]:
pdf_dataframe.columns = ['Date_operation', 'Date_valeur',	'Libellé des opérations',	'Débit',	'Crédit', 'NAC']
pdf_dataframe

,Date_operation,Date_valeur,Libellé des opérations,Débit,Crédit,NAC
0,Date\nopé.,Date\nvaleur,Libellé des opérations,Débit,Crédit,þ
1,,,Ancien solde créditeur au 30.11.2022,,"9 536,33",
2,01.12\n02.12\n02.12\n05.12\n05.12\n06.12\n06.1...,01.12\n02.12\n05.12\n05.12\n06.12\n06.12\n06.1...,Virement Web Flores Yannick Virement depu\nVi...,"2 500,00\n41,69\n14,06\n6,57\n266,86\n68,00\n1...",,"¨\n678,22 ¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n..."

In [60]:
pdf_dataframe.tail(1).explode(['Date_operation', 'Date_valeur',	'Libellé des opérations',	'Débit',	'Crédit', 'NAC'])

,Date_operation,Date_valeur,Libellé des opérations,Débit,Crédit,NAC
2,01.12\n02.12\n02.12\n05.12\n05.12\n06.12\n06.1...,01.12\n02.12\n05.12\n05.12\n06.12\n06.12\n06.1...,Virement Web Flores Yannick Virement depu\nVi...,"2 500,00\n41,69\n14,06\n6,57\n266,86\n68,00\n1...",,"¨\n678,22 ¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n..."

In [61]:
test = tables[0].df
test = test.tail(-1)
test

,Date_operation,Date_valeur,Libellé des opérations,Débit,Crédit,NAC
1,,,Ancien solde créditeur au 30.11.2022,,"9 536,33",
2,01.12\n02.12\n02.12\n05.12\n05.12\n06.12\n06.1...,01.12\n02.12\n05.12\n05.12\n06.12\n06.12\n06.1...,Virement Web Flores Yannick Virement depu\nVi...,"2 500,00\n41,69\n14,06\n6,57\n266,86\n68,00\n1...",,"¨\n678,22 ¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n¨\n..."

In [62]:
# print the first table as Pandas DataFrame
# tables[0].to_csv("./Releve_de_comptes_pdf/test.csv")
# pd.read_csv("./Releve_de_comptes_pdf/test.csv", sep=",")

In [63]:
# # read PDF file
# tables = tabula.read_pdf(file, pages="all")

# Output of AWS Textract - Credit Agricole

## Function to unzip output from aws textract
Context: Everything will be located to a dedicated folder. 
For all the zip fil in that folder we will execute the unzip function

In [64]:
import zipfile
import glob

list_file_to_unzip = os.listdir('./pdf_awstextract_output_zip/')
directory_to_extract_to = './awstextract_unzip/'

list_file_to_delete_for_renaming_steps = []

for i in list_file_to_unzip:
    if i == '.DS_Store':
        continue
    else:
        path_to_zip_file = './pdf_awstextract_output_zip/' + i
        print(path_to_zip_file)

        with zipfile.ZipFile(path_to_zip_file, 'r') as zip_ref:
            zip_ref.extractall(directory_to_extract_to)
        
        list_unzipped_files = os.listdir(directory_to_extract_to)
        list_unzipped_files = [x for x in list_unzipped_files if x not in list_file_to_delete_for_renaming_steps]

        for unzipped_file in list_unzipped_files:
        # Absolute path of a file
            old_name = directory_to_extract_to + unzipped_file
            new_name = directory_to_extract_to + i + '_' + unzipped_file

            if os.path.exists(directory_to_extract_to + '/' + new_name):
                continue
            else:
                # Renaming the file
                os.rename(old_name, new_name)
            list_file_to_delete_for_renaming_steps = os.listdir(directory_to_extract_to)

# Read all the file containing table into one csv
aws_texttract_csv_output = pd.concat(
    map(
        pd.read_csv, glob.glob(
            os.path.join(
                './awstextract_unzip/', 
                "*_table-*.csv")
            )
        )
    )

./pdf_awstextract_output_zip/Releve_n_010_du_31_10_2022.zip
./pdf_awstextract_output_zip/Releve_n_001_du_02_01_2023.zip
./pdf_awstextract_output_zip/Releve_n_009_du_30_09_2022.zip
./pdf_awstextract_output_zip/Releve_n_011_du_30_11_2022.zip
./pdf_awstextract_output_zip/Releve_n_007_du_01_08_2022.zip
./pdf_awstextract_output_zip/Releve_n_008_du_31_08_2022.zip

In [65]:
aws_texttract_csv_output.shape

(1010, 8)

In [51]:
aws_texttract_csv_output.head(100)

,'Date opé.,'Date valeur,'Libellé des opérations,'Débit,'Crédit,',Unnamed: 6,'Date ope.
0,'08.08,'08.08,'Carte X7190 Paul Marius Rouen 05/08,"'125,00",',',NaN,NaN
1,'08.08,'08.08,'Carte X7190 Sc Les Sirenes Hyere 07/08,"'7,00",',',NaN,NaN
2,'09.08,'09.08,'Carte X7190 Basic-fit 4251 Marti 08/08,"'8,99",',',NaN,NaN
3,'09.08,'09.08,'Carte X7190 Carrefour Mark Marti 08/08,"'1,00",',',NaN,NaN
4,'09.08,'09.08,'Carte X7190 Co Basket Paris 08/08,"'90,00",',',NaN,NaN
5,'09.08,'09.08,'Ret DAB X7190 La Crau 06/08 11H29,"'500,00",',',NaN,NaN
6,'10.08,'10.08,'Carte X7190 EASYJET000K3Z9W3R Lu 09/08,"'160,68",',',NaN,NaN
7,'10.08,'10.08,'Ech Prêt 86290612809 Echéance 10/08/22,"'1 172,60",',',NaN,NaN
8,'10.08,'10.08,'Ech Prêt 86291172330 Echéance 10/08/22,"'1 184,36",',',NaN,NaN
9,'11.08,'11.08,'Carte X7190 Auchan Martigues 10/08,"'12,70",',',NaN,NaN
10,'11.08,'11.08,'Carte X7190 Grand Frais Saint Mi 10/08,"'22,85",',',NaN,NaN
11,'11.08,'11.08,'Carte X7190 Marcel Fils Saint Mi 10/08,"'4,08",',',NaN,NaN
12,'11.08,'11.08,'Carte X7190 Relais Perdrix Marti 10/08,"'67,08",',',NaN,NaN
13,'12.08,'11.08,'Virement 0210682 Pacifica,',"'26,25",',NaN,NaN
14,',','000586915401907Crédit Agricole AssuranceHabit...,',',',NaN,NaN
15,'12.08,'12.08,'Carte X7190 Aux Germes De BI Mar 11/08,"'6,25",',',NaN,NaN
16,'16.08,'15.08,'Avoir Carte X7190 Brice 3552 13/08,',"'25,98",',NaN,NaN
17,'16.08,'16.08,'Carte X7190 Auchan Martigues 13/08,"'7,90",',',NaN,NaN
18,'16.08,'16.08,'Carte X7190 Basic-fit 4610 Marti 15/08,"'58,98",',',NaN,NaN
19,'16.08,'16.08,'Carte X7190 Brice 3552 Martigues 13/08,"'20,78",',',NaN,NaN
20,'16.08,'16.08,'Carte X7190 Dr Pontic Jean Sauss 13/08,"'7,50",',',NaN,NaN
21,'16.08,'16.08,'Carte X7190 ETAM-3338 Miramas 13/08,"'6,95",',',NaN,NaN
22,'16.08,'16.08,'Carte X7190 Ralph Lauren Miramas 13/08,"'90,00",',',NaN,NaN
23,'16.08,'16.08,'Carte X7190 Scotch & Soda Mirama 13/08,"'25,00",',',NaN,NaN
24,'16.08,'16.08,'Carte X7190 Scotch & Soda Mirama 13/08,"'13,00",',',NaN,NaN
25,'16.08,'16.08,'Carte X7190 Timberland Miramas 13/08,"'58,00",',',NaN,NaN
26,'16.08,'16.08,'Prlv Direction Générale Des Finances Prélèvem...,"'1 738,00",',',NaN,NaN
27,',','NNFR46ZZZ0050023J16E5G411918PAS1AFR46ZZZ00500...,',',',NaN,NaN
28,'17.08,'17.08,'Carte X7190 Mc Donald's Nfc Lune 17/08,"'32,60",',',NaN,NaN
29,'18.08,'18.08,'Virement M Corentin Veneziano Virement de M C...,',"'60,00",',NaN,NaN
30,'18.08,'18.08,'Virement Viasante 9608159 /00000001/004636409...,',"'7,50",',NaN,NaN
31,'19.08,'19.08,'Prlv Sdc Les Lys Huningue,"'107,70",',',NaN,NaN
32,',','Prélèvement Du 10/08/2022SIG2500341 FR07ZZZ82...,',',',NaN,NaN
33,'22.08,'22.08,'Virement Viasante 9608159 /00000001/004643594...,',"'7,50",',NaN,NaN
34,'22.08,'22.08,'Carte X7190 Auchan Martigues 21/08,"'117,35",',',NaN,NaN
35,'22.08,'22.08,'Carte X7190 Booking.com Amsterda 19/08,"'360,40",',',NaN,NaN
36,'22.08,'22.08,'Carte X7190 Carrefcitysco Menton 20/08,"'1,33",',',NaN,NaN
37,'22.08,'22.08,'Carte X7190 Escota Pont L Etoile 20/08,"'13,00",',',NaN,NaN
38,'22.08,'22.08,'Carte X7190 Escota Puget Ech 062 20/08,"'3,90",',',NaN,NaN
39,'22.08,'22.08,'Carte X7190 Parking Oppidum 06 E 20/08,"'6,00",',',NaN,NaN
40,'22.08,'22.08,'Carte X7190 Relais De Caront Mar 20/08,"'76,65",',',NaN,NaN
41,'22.08,'22.08,'Carte X7190 Roxi Pizza Menton 20/08,"'18,00",',',NaN,NaN
42,'22.08,'22.08,'Carte X7190 Sucre Et Delice Ment 20/08,"'1,10",',',NaN,NaN
0,'22.08,'22.08,'Prlv Credipar 101M4062192 32 200822 Votrelden...,"'346,27",',',NaN,NaN
1,'23.08,'23.08,'Carte X7190 La Poste 131620 Mart 22/08,"'8,10",',',NaN,NaN
2,'23.08,'23.08,'Carte X7190 Nba League Pass 516- 22/08 Mt ini...,"'14,94",',',NaN,NaN
3,'23.08,'24.08,'** Frais Opération Carte Etranger,"'0,67",',',NaN,NaN
4,'24.08,'24.08,'Carte X7190 Amazon Eu SARL Payli 22/08,"'8,41",',',NaN,NaN
5,'24.08,'24.08,'Carte X7190 Aux Germes De BI Mar 23/08,"'6,15",',',NaN,NaN
6,'24.08,'24.08,'Carte X7190 Relais Perdrix Marti 23/08,"'60,00",',',NaN,NaN
7,'25.08,'25.08,'Prlv 0219930 Crédit Agricole Alsace V,"'20,83",',',NaN,NaN
8,',','Crédit Agricole AssuranceHabitation -echeance...,',',',NaN,NaN
9,',','FR36ZZZ247294 Core,',',',NaN,NaN
10,'25.08,'25.08,'Prlv 0219930 Crédit Agricole Alsace V Crédit ...,"'8,35",',',NaN,NaN
11,'26.08,'29.08,'Virement Prélèvement En Suisse 29/08/2022,',"'6 671,18",',NaN,NaN
12,'26.08,'27.08,'Prlv Prélèvement Permanent Sur Suisse,"'2,00",',',NaN,NaN
13,'26.08,'26.08,'Carte X7190 Aux Germes De BI Mar 25/08,"'2,20",',',NaN,NaN
14,'26.08,'26.08,'Carte X7190 Bishi Martigues 25/08,"'42,30",',',NaN,NaN
15,'29.08,'29.08,'Carte X7190 Aux Germes De BI Mar 27/08,"'5,10",',',NaN,NaN
16,'29.08,'29.08,'Carte X7190 Sc Xy Coiffure Marti 27/08,"'20,00",',',NaN,NaN
17,'29.08,'29.08,'Prlv 0210273 Crédit Agricole Alsace V Crédit ...,"'13,12",',',NaN,NaN
18,',','Contrat :Pacifica1287394090700000000000000000...,',',',NaN,NaN
19,'31.08,'31.08,'Avoir Carte X7190 Booking.com Tr 30/08,',"'195,32",',NaN,NaN
20,'31.08,'31.08,'Avoir Carte X7190 Shuttle Direct 30/08,','75.88,',NaN,NaN
21,'31.08,'31.08,'Carte X7190 Etraveliptmoto Helsi 30/08,"'83,99",',',NaN,NaN
22,'31.08,'31.08,'Prlv URSSAF De Franche Comte,"'497,00",',',NaN,NaN
23,',','Ur 438000007840955814 AOUT2272232009558131082...,',',',NaN,NaN
24,',','Total des opérations,"'7 904,72",'7 082.35,',NaN,NaN
25,',','Nouveau solde créditeur au 31.08.2022,',"'12 339,02",',NaN,NaN
0,NaN,','Ancien solde créditeur au 01.08.2022,',"'13 161,39",',NaN,'
1,NaN,'03.08,'Carte X7190 Eni 51170 Verbania 01/08,'30.52,',',NaN,'02.08
2,NaN,'02.08,'Carte X7190 La Rampolina Srl Str 31/07,"'92,00",',',NaN,'02.08
3,NaN,'02.08,'Carte X7190 Perroquet Snc Stresa 30/07,"'27,50",',',NaN,'02.08
4,NaN,'05.08,'Règlement Assu. Caae Prêt Habitat 08/22,"'41,69",',',NaN,'02.08
5,NaN,'04.08,'** Cotis Compte A Composer (rem = 10%),"'6,57",',',NaN,'03.08
6,NaN,'04.08,'Virement Viasante,',"'12,74",',NaN,'04.08
7,NaN,','9608159 /00000001/0046123042Ergrp -9608159,',',',NaN,'
8,NaN,'04.08,'Carte X7190 Asf-loriol Vedene Ce 03/08,"'1,60",',',NaN,'04.08
9,NaN,'04.08,'Carte X7190 Asf-lancon Vedene Ce 03/08,"'14,80",',',NaN,'04.08
10,NaN,'04.08,'Carte X7190 ROC31775ESSO2 Morie 03/08,"'28,90",',',NaN,'04.08
11,NaN,'05.08,'Carte X7190 Area Chatuzange Barr 03/08,"'30,00",',',NaN,'05.08
12,NaN,'05.08,'Carte X7190 Auchan Martigues 04/08,"'5,90",',',NaN,'05.08
13,NaN,'05.08,'Carte X7190 Relais Perdrix Marti 04/08,"'59,55",',',NaN,'05.08
14,NaN,'05.08,'Prlv Mutuelle Viasante 20220805MUTUELLE Via S...,"'54,47",',',NaN,'05.08
15,NaN,'09.08,'Carte X7190 myprotein Manchester 08/08,"'34,98",',',NaN,'08.08
16,NaN,'08.08,'Carte X7190 Alinea Ecommerce Mar 05/08,"'98,00",',',NaN,'08.08
17,NaN,'08.08,'Carte X7190 Alinea Aubagne 05/08,"'49,00",',',NaN,'08.08
18,NaN,'08.08,'Carte X7190 Escota Frejus Quest 07/08,"'8,80",',',NaN,'08.08
19,NaN,'08.08,'Carte X7190 Escota La Barque 062 07/08,"'11,80",',',NaN,'08.08
20,NaN,'08.08,'Carte X7190 Figuiere Remy La Val 05/08,"'7,00",',',NaN,'08.08
21,NaN,'08.08,'Carte X7190 Nikepos Fr Toulon 05/08,"'35,48",',',NaN,'08.08
0,'15.12,'16.12,'Carte X7190 Apple.com/bill Itune 15/12,"'0,99",',',NaN,NaN
1,'15.12,'15.12,'Carte X7190 Cabaia.fr 93300 Aube 14/12,"'52,00",',',NaN,NaN
2,'15.12,'15.12,'Carte X7190 Gitkraken Software S 14/12,"'59,40",',',NaN,NaN
3,'15.12,'16.12,'** Frais Opération Carte Etranger,"'1,67",',',NaN,NaN
4,'16.12,'16.12,'Carte X7190 EASYJET000K448N1F Lu 15/12 Mt ini...,"'26,40",',',NaN,NaN
5,'19.12,'19.12,'Carte X7190 Microsoft*subscripti 17/12,"'12,99",',',NaN,NaN
6,'20.12,'20.12,'Carte X7190 Amazon Payments Payl 17/12,"'4,90",',',NaN,NaN
7,'20.12,'20.12,'Prlv Credipar 101M4062192 32 201222 Votrelden...,"'346,27",',',NaN,NaN
8,',','Notre Site : Www.psa-flnance-france.frFR00008...,',',',NaN,NaN